<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a class="btn" href="{{ path('logout') }}">Déconnexion</a></li>
                        <li><a class="btn" href="{{ path('admin_users') }}">utilisateurs</a></li>
                        <li><a class="btn" href="{{ path('admin_categories') }}">Categories</a></li>
                    </ul>
                </nav>
                {% block header %}{% endblock %}
            </div>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        <script src="{{ asset('build/js/jquery.min.js') }}"></script>
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
